@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}
@layer utilities {
  textarea::-webkit-scrollbar {
    width: 0;
  }

  textarea::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f0f3ff;
  }

  textarea::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #4f46e5, #9333ea);
    border-radius: 100vh;
    border: 3px solid #f0f3ff;
  }

  textarea::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
}
}